main{
    width: 100%;
   
    
}
section#section1 {
    margin-top: 60px;
}
.box{
    width: 100%;
    position:relative;
    overflow: hidden;
    background: #eee;
    border: 2px solid #cc00ff2e;
   
    background: #eeeeee05;
    background: transparent;
}
.box .anh img{
    width: 100%;

}
.name_product{
    position: absolute;
    top: 27%;
    left: 25%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    z-index: 2;
}
.name2{
    font-size: 20px;
    font-weight: 100;
}
.box::before{
    content: '';
    position: absolute;
    top: -68%;
    left: -126%;
    width: 187%;
    height: 150%;
    transform: rotate(138deg);
    background-color: #D10024;
    background: linear-gradient(to right,#cc00ff,#7000ff);
    background: linear-gradient(to right,#62007c,#7000ff);
    opacity: 0.9;
    z-index: 1;
}
.box .anh{
    width: 100%;
    transform: scale(0.8);
    transition: 0.4s;
}
.box:hover .anh{
    transform: scale(1);
}
.box1{
    width: 100%;
    height: 83%;
    padding-bottom: 20px;
    border: 2px solid #cc00ff2e;
    position: relative;
    margin-bottom: 90px;
    background: #eeeeee05;
    border-radius: 10px;
    transition: 0.4s;
    background: transparent;
   
}

.boxto:hover .box1{

    /* border: 3px solid red; */
    border: 3px solid #cc00ff;
    box-shadow: 0px 0px 17px 9px #cc00ff87;
}

.den{
    width: 100%;
    padding: 10px;
    background: #000;
    text-align: center;;
    transition: 0.4s;
    z-index: -1;
    position: absolute;
    top:86%;
    left: 0;
    opacity: 0;
   z-index: 1;
}


.boxto:hover .den{
   top: 100%;
   opacity: 1;
}
.box1 .anh img{
    width: 100%;
    padding: 20px;
}
.box1 .name_product2{
    text-align: center;
   
}
.box1 .name_product2 .namep1{
    font-weight: 600;
    color: #fff;
}
.box1 .name_product2 .namep1:hover{
    color: #fff;
    
}
.box1 .price{
    color: #fff;
    font-weight: 800;
    font-size: 17px;
    padding-top: 3px;
}
.box1 .star1,.box1 .icon{
    position: relative;
    width: 100%;
    display: flex;
    font-size: 13px;
    justify-content: center;
    color: #ded13c;
    padding: 6px 0;
    z-index: 1;
}

.box1 .kengang{
    width: 90%;
    border:0.2px solid #ffffff3d;
    line-height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}
.box1 .icon{
    position: none;
   
    transition: 0.4s;
}
.box1 .icon i{
    color: #ffffff63;
    
}
.box1 .icon i:hover{
    position: none;
    color: #ef233c;
    
}

.box1 .icon>div{
    position: relative;
    color: #0000008a;
    transition: 0.4s;
}
.box1 .icon .tooltipp{
    position: absolute;
    top: -64px;
    left: -70%;
    width: 108px;
    height: 30px;
    color: #fff;
    background-color: hsl(0, 0%, 0%);
    opacity:0;
}
.box1 .icon i:hover .tooltipp{
    opacity: 1;

}
.box1 .icon i{
    margin:0 11px;
}
a.mauden{
    color: #fff !important;
   
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff !important; 
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
   border-bottom: 1px solid #fff !important;
   background: none;
   border-radius: 0;
}
#section2 h1{
    color: #fff;
    text-shadow: 2px -3px #cc00ff;
}
.den button{
    border-radius: 40px;
    background: #ef233c;
    color: #fff;
    font-weight: 700;
    padding:10px 15px;
}
.den button:hover{
    border: 2px solid #D10024 !important;
    background: #fff !important;
    color: #D10024 !important;
}

section#section4{
    width: 100%;
    background: #E4E7ED;
    padding: 40px;
    position: relative;
    background-image: url(../img/hotdeal.png);
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: center;

}
.container.text-center.deal {
    padding: 60px 0px;
}
@media screen and (max-width:1340px) {
    section#section4{
        background-image: none;
    }
}
.day_deal ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left:0;
}

.day_deal ul li{
    margin: 10px;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #D10024;
    position: relative;
}
.day_deal ul li .time{
    line-height: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hot_deal h1{
    font-size: 35px;
}
.hot_deal1 h1{
    font-size: 30px;
    font-weight: 200;
}
button.btn.btn-danger {
    background: #D10024;
    margin-top: 15px;
    border-radius: 40px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
}

.admin_sash,.admin_sash1{
    font-size: 39px;
    color: #eee;
}
.thesash1,.thesash2{
    color: rgba(255, 255, 255, 0.8);
}
.thesash1_1,.thesash2_2{
    color: #76839a !important;}

iframe {
    border: 0;
    width: 100%;
    border-radius: 8px;
}
.admin_sash1{
    color: #76839a;
}

.bg-primary {
    
    background: #d8cdcd29 !important;
}



@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,.carousel-inner .carousel-item-start { transform: translateX(0);}
span.carousel-control-next-icon,span.carousel-control-prev-icon {
    border-radius: 50%;
    background: #fff;
    width: 40px;
    height: 40px;
    color: #000;
    line-height: 37px;
    font-weight: 600;
    font-size: 22px;
}
.carousel-control-next { left: 97%; width: 40px;}
.carousel-control-prev {left: -6%;}
.img-fluid{width: 96%;}
#section5{
    width: 100%;
    height: 100%;
}
#section5 .sale{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px -3px #cc00ff;
}
